# Follow the instructions in the README Part 0 to get your OPENAI_API_KEY, then paste it here:
# You can go to this page to find your API Keys: https://platform.openai.com/api-keys
# This should look like 'sk-proj-...'
OPENAI_API_KEY=
# The DEVNET_WALLET_ADDRESS can be left blank, it will be updated by the agent!
DEVNET_WALLET_ADDRESS=
